%h1 New Message

=form_tag create_message_path(current_user) do
	.form-group
		=label :message, :additional_users, 'Recipients'
		%br
		Enter users' username separated by a comma
		%br
		=text_field :message, 'additional_users'

	.form-group
		=label :message, :text, 'Text'
		%br
		=text_field :message, 'text'


	.form-group
		=submit_tag 'Create'
