
%h1 Edit Project

=form_tag snapproject_path(@project), :method => :put do
	=label :snapproject, :name, 'Project Name*', :required => true
	=text_field :snapproject, 'name', :value =>@project.name

	=label :snapproject, :additional_owners, 'Additional Owners'
	Enter users' email addresses separated by a comma
	-#remove an owner through edit??
	-old_additional_emails = @project.snapusers.select{|user| user!=current_snapuser}.map{|user| user.email}.join(", ")
	=text_field :snapproject, 'additional_owners', :value =>old_additional_emails

	=label :snapproject, :description, 'Project Description'
	=text_field :snapproject, 'description', :value =>@project.description

	=label :snapproject, :privacy, 'Privacy'
	=select :snapproject, :privacy, ['Private', 'Public'], :selected =>@project.privacy

	=submit_tag 'Update Project'

-#dialog box pops up twice?
<% = button_to 'Delete', snapproject_path(@project), method: :delete, data: {confirm: "Are you sure?"} %>