%h1 Project

%table#projects
  %thead
    %tr
      %th Project Name
      %th Owners
      %th Desription
      %th Privacy
  %tbody
    - @projects.each do |project|
      %tr
        %td= link_to project.name, snapproject_path(project)
        -project.snapusers.each do |user|
          %td= user.username
        %td= project.description
        %td= project.privacy

-#= link_to 'Add new user', new_snapuser_path