%h1 New Project

=form_tag snapproject_index_path(current_user) do
	.form-group
		=label :snapproject, :name, 'Project Name*', :required => true
		%br
		=text_field :snapproject, 'name'

	.form-group
		=label :snapproject, :additional_owners, 'Additional Owners'
		%br
		Enter users' email addresses separated by a comma
		%br
		=text_field :snapproject, 'additional_owners'

	.form-group
		=label :snapproject, :description, 'Project Description'
		%br
		=text_field :snapproject, 'description'
	.form-group
		=label :snapproject, :privacy, 'Privacy'
		%br
		=select :snapproject, :privacy, ['Private', 'Public']

	.form-group
		=submit_tag 'Create'
