
<!DOCTYPE html>
<html>
<head>
  <title>Conversations</title>

</head>
<body>
  <ul>
  <% @conversations.each do |conversation| %>
  	<li><%= link_to conversation.all_users.remove(current_snapuser.username), messages_path(:conversation_id => conversation) %></li>
  	<li><%= button_to 'Delete', delete_message_path, :conversation_id=>conversation,:confirm => 'Are you sure?', :method => :delete %> </li>
  <% end %>
  <ul>
  <ul>
      <li><%=link_to "New Message", new_message_path %></li>
  </ul>

</body>
</html>