
%table{:class => "table table-hover"}
  %tbody
    - @messages.each do |message|
      %tr
        %td= message.snapuser.username
        %td= message.content

=form_tag reply_path(current_snapuser.id, :conversation_id =>@conversation) do
  .form-group
    =label :conversation, :text, 'Text'
    =text_field :conversation, 'text'

  .form-group
    =submit_tag 'Reply'

