<table class="table table-hover">
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Privacy</th>
		</tr>
	</thead>
	<tbody>
		<% @classes.each do |snapclass| %>
		<tr>
			<td><%= link_to "#{snapclass.title}", snapclass_path(snapclass) %></td>
			<td><%= snapclass.description %></td>
			<td><%= snapclass.privacy %></td>
		</tr>
		<% end %>
	</tbody>
</table>
